.pList{
       width: 100%;
       max-width: 1024px;
       display: flex;
       justify-content: space-between;
       gap: 10px;
       padding-left: 20px;
       
}
.pListItem{
       border-radius: 10px;
       overflow: hidden;
       cursor: pointer;
       position: relative;
}
.pListImg{
       width: 86%;
       height: 55%;
       object-fit: cover;
       border-radius: 10px;
}

.pListTitles > h1{
       font-size: 23px;
}


.pListTitles > h2{
       font-size: 12px;
       font-weight: 3000;
}

#headdingTypeh1{
       font-family: system-ui;
       text-transform: capitalize;
}

#headdingTypeh2{
       font-family: sans-serif;
    font-size: 16px;
}