.myBookingsPage #app {
       width: 800px;
       margin: 30px auto;
     }
     
     .myBookingsPage h1 {
       font-size: 50px;
       font-weight: 900;
       text-align: center;
       letter-spacing: 10px;
       margin-bottom: 30px;
     }
     
     @media(max-width: 800px) {
       .myBookingsPage #app {
         width: 100%;
         padding: 0 15px;
       }
       .myBookingsPage h1 {
         font-size: 30px;
       }
     }
     
     .myBookingsPage .theme--light.application {
       background: transparent;
     }
     
     .myBookingsPage .receipt__filter--toggle {
       margin-bottom: 20px;
     }
     
     .myBookingsPage .receipt__filter {
       background-color: #f7f7f7;
       margin-bottom: 30px;
       padding: 10px 20px;
     }
     
     .myBookingsPage .receipt__container {
       padding: 30px 30px 10px;
       margin-bottom: 30px;
       box-shadow: 0 2px 2px 0 #e7e7e7;
       border: 1px solid #e6e5e5;
       background:  #e2edf4;
       border-radius: 20px;
       color: white;
       font-size: 30px;
       height: 200px;
       display: flex;
     }
     
     .myBookingsPage .receipt__container p {
       margin-bottom: 5px;
       color: #0071c2;
     }
     
     .myBookingsPage .receipt__client {
       font-weight: 700;
     }
     
     .myBookingsPage .receipt__days,
     .myBookingsPage .receipt__date {
       font-size: 20px;
       font-weight: 400;
       color: red;
     }
     
     .myBookingsPage .receipt__container .receipt__days{
      color: red;
     }

     .myBookingsPage  .receipt__container .receipt__days2{
      font-size: 20px;
      font-weight: 400;
      color:green;
     }

     .myBookingsPage .receipt__cost {
       font-size: 50px;
       font-weight: 700;
       margin-bottom: 0;
       margin-top: 20px;
       border-top: 1px solid white;
     }
     
     
     .myBookingsPage {
       position: relative;
     }




     .myBookingsPage .listSearch {
       flex: 1;
       background-color: #febb02;
       padding: 10px;
       border-radius: 10px;
       position: sticky;
       top: 100px; /* Adjust as needed */
       height: max-content;
      
       left: 30px; /* Adjust as needed */

     }
     
     .myBookingsPage .isTitle {
       font-size: 20px;
       color: #555;
       margin-bottom: 10px;
     }
     
     .myBookingsPage .lsItem {
       display: flex;
       flex-direction: column;
       gap: 5px;
       margin-bottom: 10px;
     }
     
     .myBookingsPage .lsItem > label {
       font-size: 12px;
     }
     
     .myBookingsPage .lsItem > input {
       height: 30px;
       border: none;
       padding: 5px;
     }
     
     .myBookingsPage .lsItem > span {
       height: 30px;
       padding: 5px;
       background-color: white;
       align-items: center;
       cursor: pointer;
     }
     
     .myBookingsPage .lsOptionItem {
       display: flex;
       justify-content: space-between;
       margin-bottom: 10px;
       color: #555;
       font-size: 12px;
     }
     
     .myBookingsPage .lsOptionInput {
       width: 50px;
     }
     
     .myBookingsPage .lsOptions {
       padding: 10px;
     }
     
     .myBookingsPage .listResult {
       flex: 3;
     }
     
     .myBookingsPage .listSearch > button {
       padding: 10px;
       background-color: #0071c2;
       color: white;
       border: none;
       font-weight: 500;
       width: 100%;
       border-radius: 5px;
     }
     
     .myBookingsPage .receipt__container  label {
     font-size: 13px;
    }
    .myBookingsPage .receipt__container  img {
      height: 200px;
      width: 200px;
      border-radius: 5px;
      margin-top: -10px;
      margin-left: -6px;
     }
     .myBookingsPage .receipt__container  .btnContainer{
      position: absolute;
      margin-left: 600px; 
      margin-top: 150px;
     }
     .myBookingsPage .receipt__container  .btnContainer  button{
      border: none;
      padding: 5px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      width: 100%;
      position: relative;
 
     }


    .myBookingsPage .receipt__container  .roombox {
     width: 30px;
     height: 30px;
     background: #003580;
     justify-content: center; /* horizontally centers the content */
     align-items: center;
     display: flex;
     border-radius: 3px;
     }
     

     .myBookingsPage .detailsBoxView /* Our Font */ {
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
    }
    
    .myBookingsPage .detailsBoxView * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins';
    }
    
    .myBookingsPage .detailsBoxView body {
      height: 100vh;
      background-color: #D3E1E1;
    }
    
    .myBookingsPage .detailsBoxView .receipt {
      width: 360px;
      height: 720px;
      background-color: white;
      border-radius: 30px;
      position: relative;
      top: 50%;
      left: 50%;
      margin-top: -360px; /* -half height and width to center */
      margin-left: -180px;
      box-shadow: 14px 14px 22px -18px;
      padding: 20px;
    }
    
    .myBookingsPage .detailsBoxView .name {
      text-transform: uppercase;
      text-align: center;
      color: #6c8b8e;
      letter-spacing: 10px;
      font-size: 1.8em;
      margin-top: 10px;
    }
    
    .myBookingsPage .detailsBoxView .greeting {
      font-size: 21px;
      text-transform: capitalize;
      text-align: center;
      color: #6f8d90;
      margin: 35px 0;
      letter-spacing: 1.2px;
    }
    
    .myBookingsPage .detailsBoxView .order p {
      font-size: 13px;
      color: #aaa;
      padding-left: 10px;
      letter-spacing: .7px;
    }
    
    .myBookingsPage .detailsBoxView hr {
      border: .7px solid #ddd;
      margin: 15px 0;
    }
    
    .myBookingsPage .detailsBoxView .details {
      padding-left: 10px;
      margin-bottom: 35px;
      overflow: hidden;
    }
    
    .myBookingsPage .detailsBoxView .details h3 {
      font-weight: 400;
      color: #6c8b8e;
      font-size: 1.5em;
      margin-bottom: 15px;
    }
    
    .myBookingsPage .detailsBoxView .product {
      float: left;
      width: 83%;
    }
    
    .myBookingsPage .detailsBoxView .product img {
      width: 65px;
      float: left;
    }
    
    .myBookingsPage .detailsBoxView .product .info {
      float: left;
      margin-left: 15px;
    }
    
    .myBookingsPage .detailsBoxView .product .info h4 {
      color: #6f8d90;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 10px;
    }
    
    .myBookingsPage .detailsBoxView .product .info p {
      font-size: 12px;
      color: #aaa;
    }
    
    .myBookingsPage .detailsBoxView .details > p {
      color: #6f8d90;
      margin-top: 25px;
      font-size: 15px;
    }
    
    .myBookingsPage .detailsBoxView .totalprice p {
      padding-left: 10px;
    }
    
    .myBookingsPage .detailsBoxView .totalprice .sub,
    .myBookingsPage .detailsBoxView .totalprice .del {
      font-size: 13px;
      color: #aaa;
    }
    
    .myBookingsPage .detailsBoxView .totalprice span {
      float: right;
      margin-right: 17px;
    }
    
    .myBookingsPage .detailsBoxView .totalprice .tot {
      color: #6f8d90;
      font-size: 15px;
    }
    
    .myBookingsPage .detailsBoxView footer {
      font-size: 10px;
      text-align: center;
      margin-top: 135px; /* You can make it with position try it */
      color: #aaa;
    }
    



    .bookingsPagePagination  .page-btn {
      display: flex;
      justify-content: center;
      margin-top: 30px; 
      padding-bottom: 20px;
     }
     
     .bookingsPagePagination  .page-btn span {
       display: inline-block;
       border: 1px solid #003580;
       margin-left: 10px;
       width: 40px;
       height: 40px;
       text-align: center;
       line-height: 40px;
       cursor: pointer;
       justify-content: center;
     }
     
     .bookingsPagePagination  .page-btn span:hover {
       background: #003580;
       color: #ffffff;
     }
   
     .bookingsPagePagination  .pagination_selected{
      background: #003580;
      color: #ffffff;

      }