@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

/*-- Variables --*/
/* 
:root {
    --bg-color: #25263B;
    --light-blue: rgb(53, 98, 220);
    --grey: grey;
    --light-grey:#E9E8ED;
    --green: rgb(19, 170, 70);
} */

/*---- Global ----*/
.userCheckoutWindow * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    vertical-align: bottom;
    text-decoration: none;
    box-sizing: border-box;
}
.userCheckoutWindow {
       width: 100%;
       height: 100vh;
       background-color: rgba(0,0,0,0.418);
       position: fixed;
       top: 0;
       left: 0;
       align-items: center;
       justify-content: center;
}
.userCheckoutWindowContainer{
       background-color: white;
       padding: 20px;
       position: relative;
       width: 100vh;
       height: 80vh;
       margin-left: 400px;
       margin-top: 70px; 
       display: flex;
}

.userCheckoutWindow html, .userCheckoutWindow body { 
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
}

.userCheckoutWindow a {
    color: var(--grey);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.userCheckoutWindow a.active {
    color: #ffffff;
}

.userCheckoutWindow label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--grey);
    display: block;
    margin-bottom: 5px;
}

.userCheckoutWindow input {
    padding: 10px;
    border: 2px solid var(--light-grey);
    width: 100%;
    font-weight: 600;
    border-radius: 3px;
}

.userCheckoutWindow input:focus {
    border-color: var(--green);
}

/* main */

.userCheckoutWindow .container {
    display: grid;
    grid-template-columns: .25fr 4fr .25fr;
    grid-template-areas: ". m .";
    width: 100%;
    padding: 40px 0;
}

.userCheckoutWindow .checkout-flow {
    grid-area: m;
    width: 100%;
}

.userCheckoutWindow .checkout-nav  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px 0;
    height: 70px;
}

.userCheckoutWindow .checkout {
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    min-height: 550px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "p p p p p p p p p p p p"
                         "f f f f f f f f f f f f";
}

/* product */

.userCheckoutWindow .product {
    position: absolute;
    min-height: 350px;
    width: 100px;
    top: 193px;
    left: 501px;
}

.userCheckoutWindow .product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 40px;
}

.userCheckoutWindow .product .info {
    position: absolute;
    bottom: 0;
    padding: 30px;
}

.userCheckoutWindow .product .info .name {
    color: var(--grey);
    font-weight: 700;
    font-size: 20px;
}

.userCheckoutWindow .product .info .type {
    font-size: 25px;
}

.userCheckoutWindow .product .info .price {
    font-size: 36px;
    font-weight: 300;
    margin-top: 10px;
}

/* form-wrapper */
.userCheckoutWindow .form-wrapper {
    grid-area: f;
    padding: 40px;
    background-color:rgb(219, 245, 254);
    width: 100%;
}

.userCheckoutWindow .form-wrapper h2 {
    font-size: 34px;
    font-weight: 300;
    color: var(--light-blue);
    margin-bottom: 41px;
    position: absolute;
    top: 29px;
    left: 42px;
    

}

.userCheckoutWindow .input-control {
 
    margin-bottom: 250px;
}

.userCheckoutWindow .icon-input {
    position: relative;
}

.userCheckoutWindow .icon-input input {
    padding-right: 40px;
}

.userCheckoutWindow .icon-input > i {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    font-size: 20px;
    color: var(--grey);
}

.userCheckoutWindow .btn-order {
    border: none;
    background-color: #0071c2;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 409px;
    position: absolute;
    width: 241px;
    height: 46px;
    border-radius: 7px;
}

@media (min-width: 1024px) {
    .userCheckoutWindow .container {
        display: grid;
        grid-template-columns: .5fr 2fr .5fr;
        grid-template-areas: ". m .";
    }
    .userCheckoutWindow .checkout {
        grid-template-areas: "p p p p p f f f f f f f";
    }
    .userCheckoutWindow .checkout-nav {
        flex-direction: row;
        justify-content: space-evenly;
        height: 20px;
    }
    .userCheckoutWindow .control-group {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
    }
    .userCheckoutWindow .control-group .input-control {
        flex: 0 0 48%;
    }
}


.userCheckoutWindow .userCheckoutWindowContainer .form-wrapper .items div{
    display: flex;
    gap: 5px;
    padding-top: 5px;
}
.userCheckoutWindow .userCheckoutWindowContainer .form-wrapper .items {
   margin-top: 40px;
}

.userCheckoutWindow .userCheckoutWindowContainer .closebuttoncheckout {
    position: absolute;
    height: 46px;
    background: #95cef4;
    top: 469px;
    left: 320px;
    width: 92px;
    border-radius: 7px;
    
}